.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    margin: 20px;
    gap: 50px ;
}
.itme{
    border: 1px solid grey;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: 1px 1px 4px 1px rgb(108, 108, 108);
    text-align: center;
    align-content: center;

}
body{
    background-color:rgb(218, 218, 218);
}
.details{
    font-size: 15px;
    color: rgba(77, 78, 78, 0.774);
}
@media(max-width: 1024px) {
    .container{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
}
@media (max-width: 600px) {
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: max-content;

}
}