.a1{
    text-align: center  ;
    padding: 5px;
    background-color:rgb(239, 229, 229);
    margin: 0px 550px 0px 550px;
    height: 500px;
    box-shadow: inset slategray;


}
.a4{
    background-color: blue;
    color: white;
    font-size: x-large;
}
.b1{
    margin: left 100px; 
    padding-left: 5px;
    border: 12px;
    text-align: left;
}
.a2{
    background-color: gray;
    color: white;
    
    
}
.b2{
    font-size: x-large;
    color: rgb(7, 102, 7);
    text-align: left;
    padding: 0;
}
.a3{
    font-size: large;
    color: rgb(90, 128, 166);
    text-decoration: line-through;
}
